@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --tw-gradient-from: #111827;
   --tw-gradient-via: #1f2937;
   --tw-gradient-to: #06323e;
   --tw-gradient-from-position: bottom left;
   --tw-gradient-via-position: center;
   --tw-gradient-to-position: top right;
   --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-via), var(--tw-gradient-to);
   --bg-gradient-color-start: var(--tw-gradient-from);
   --bg-gradient-color-middle: var(--tw-gradient-via);
   --bg-gradient-color-end: var(--tw-gradient-to);
   background-color: var(--bg-gradient-color-start);
   background-image: linear-gradient(to right top, var(--tw-gradient-stops));
   background-repeat: no-repeat;
}



.textc {
color: #149eca;

}

p {
   color: #149eca;
   font-weight: bold;
}

h1, li {
  
   font-weight: 700;
   color: white;
}
// h1 {
//    text-decoration: underline;
// }

// .shadow-effect {
//    transition: all 0.1s;
// }

.shadow-effect:hover {
   box-shadow: -4px 4px 0 0 #149eca;
}
.selected-tab {
   box-shadow: -2px 2px 0 0 #149eca;
}
