@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   background-color: #23272f;
}

.textc {
color: #149eca;

}

p {
   color: #149eca;
   font-weight: bold;
}

h1, li {
  
   font-weight: 700;
   color: white;
}
// h1 {
//    text-decoration: underline;
// }

// .shadow-effect {
//    transition: all 0.1s;
// }

.shadow-effect:hover {
   box-shadow: -4px 4px 0 0 #149eca;
}
.selected-tab {
   box-shadow: -2px 2px 0 0 #149eca;
}
